.Home .img-tall-rect {
  width:100%;
  max-width:300px;
}
.Home .img-wide-rect {
  width:100%
}

.Home .lede {
  font-size: 1.2em;
  font-weight: 100;
}
.Home blockquote {
  font-family: 'Raleway', sans-serif;
  font-style: italic;
}
.Home blockquote p {
  font-family: 'Work Sans', sans-serif;
  font-style:normal;
  font-size: 0.9em;
  font-weight: 100;
}
