

.page-wrap{
  padding-top:3.5em;
  position: relative;
}
.app-pages{
  position: relative;
}

.wi-horizontal-action-buttons{
  padding-top:0.2em;
  padding-left:0.7em;

  /*position: fixed;*/
  height:100%
  /*z-index: 1*/
}
/* START fix bootstrap tabs to allow centering as an option*/
.nav-tabs.centered > li, .nav-pills.centered > li {
  float:none;
  display:inline-block;
  *display:inline; /* ie7 fix */
  zoom:1; /* hasLayout ie7 trigger */
}
.nav-tabs.centered, .nav-pills.centered {
  text-align:center;

}
/* END fix bootstrap tabs to allow centering as an option*/
.nav-tabs{

  width:100%;
  padding-top:0.5em;
  padding-left:1em;
  margin-bottom: 2em;

  background: white;
  /*opacity: 0.8;*/
  min-height: 49px;
  cursor: pointer;
  /*z-index: 1;*/

  /* IE 11 hack for fixed */
  /* source: bottom of this page http://stackoverflow.com/questions/2151577/fixed-positioning-in-internet-explorer*/
  /*position: absolute;
  top: expression(0+((e=document.documentElement.scrollTop)?e:document.body.scrollTop)+'px');
  right: expression(0+((e=document.documentElement.scrollRight)?e:document.body.scrollRight)+'px');*/
}
.nav-tabs li.active a{
  background: rgba(241,241,241,1);

}
.nav-tabs li:first-child{
    margin-left:74px;
}
.nav-tabs.mobile li:first-child{
    margin-left:0px;
}
