.label-draft{
  background-color: #a47956 /* brown */
}
.label-deleted{
  background-color:#777777 /*  */
}
.label-waiting{
  background-color:#1688ff /* info blue */
}
.label-rejected{
  background-color:red
}
.label-published{
  background-color:#5cb85c /* success green */
}
.label-archived{
  background-color: #5a2a4c /* purple */
}
